body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2C2F32;
    color: #333;
    margin: 0;
    padding: 20px;
    font-weight: bold; 
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
font-weight: bold;
}

table {
    width: 90%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    border: 5px solid #B0C4DE
    
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold; 
}

th {
    background-color: #708090;
    color: white;
    font-weight: bold; 
}

td a {
    color: blue;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

form {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #B0C4DE
    
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    font-weight: bold; /
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold; 
}

span {
    font-size: 0.9em;
    font-weight: bold; 
}

button[type="submit"] {
    background-color:	#A0B9A3;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0077cc;
}

.botao-card {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A0B9A3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.botao-card:hover {
    background-color: #0077cc;
}
select#genero {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

select#genero:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}
select#tipo_lancamento {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

select#tipo_lancamento:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

